.map {
  height: 60vh;
  margin: 2em;
  border-radius: 20px;
}

.myModal {
  width: 60vw;
  height: 60vh;
  margin: auto;
  border-style: none !important;
  border-radius: 1em !important;
  filter: drop-shadow(0 0 1em #294C60);

  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  padding: 20px;
}

.dispatch-layout {
  display: flex;
  flex-direction: column;
}

.dispatchButton {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 30px;
  background-color: #550c18;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  padding: 0.5rem;
}


