.nav-menu {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #294C60;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  filter: drop-shadow(5px 0 10px);
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 50px auto 10px auto;
}

.nav-button {
  font-size: 26px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: left;
  color: white;
  opacity: 50%;
  margin-right: 0;
}

.nav-button-active {
  @extend .nav-button;
  opacity: 100%;
  border-right: 0.5rem solid white;
}

.nav-icon {
  height: 50px;
  width: 50px;
}

.old-button {
  @extend .nav-button;
  margin: auto 10px 10px 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.old-button:hover {
  opacity: 100%;
}
