{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-restricted-syntax": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
